<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Simple Calculation</title>
    </h:head>
    <h:body>
        <div class="login-page">
            <div class="form">
                <h:outputStylesheet library="css" name="style.css"/>
                <f:view>
                    <h:form>
                        <h:link value="Complex calculations" outcome="complexcalculationpage"></h:link> 
                        <h:panelGrid columns="2">
                            <h:outputLabel value="FirstNumber:" for="firstNumber" />
                            <h:inputText id="firstNumber" value="#{userCalculationsController.firstnumber}" title="FirstNumber" />
                            <h:outputLabel value="Operator" for="operator" />
                            <h:inputText id="operator" value="#{userCalculationsController.operator}" title="FirstNumber" />
                            <h:outputLabel value="SecondNumber:" for="secondNumber" />
                            <h:inputText id="secondNumber" value="#{userCalculationsController.secondnumber}"/>
                            <h:commandButton value="Submit" action="#{userCalculationsController.calculate}" />
                            <h:messages/>
                        </h:panelGrid>
                    </h:form>
                </f:view>
            </div>
        </div>
    </h:body>
</html>

